.home {
    height: 100vh;
    width: 100vw;
}

.home-masthead {
	width: 100vw;
}

.home-explain_box {
	font-size: 20px;
	margin: 50px auto;
	text-align: center;
	width: 700px;
}

.explain-sentence-sep_box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.explain-photo {
	height: 200px;
}

.explain-sentence-sep-long {
	background-color: black;
	border-radius: 10px;
	height: 250px;
	margin: 20px auto;
	width: 5px;
}

.explain-sentence-sep-short {
	background-color: black;
	border-radius: 10px;
	height: 200px;
	margin: 20px auto;
	width: 5px;
}

.download-here {
	padding: 40px 0;
	text-align: center;
}

.download-button {
	border-color: black;
	border-radius: 3px;
	border-style: solid;
	color: black;
	padding: 5px;
}

.download-button:hover {
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.download-button-disabled {
	border-radius: 3px;
	border-style: dashed;
	padding: 5px;
}
